* {
  font-family: "Inter", sans-serif;
}

form {
  max-width: 400px;
}

form .form__field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.recipe-item {
  grid-template-columns: 140px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
  border-color: rgb(206 206 205);
  background-color: transparent;
}

.recipe-item:hover {
  background-color: #f8f6f2;
}

::placeholder {
  font-style: italic;
}

header a.active {
  font-weight: bold;
  color: rgb(37, 99, 235);
}

input[type="search"]::-webkit-search-cancel-button {
  /* Hide the default appearance */
  -webkit-appearance: none;
}

@media (max-width: 767px) {
  .recipe-item {
    grid-template-columns: initial;
  }
}
