form {
  max-width: 500px;
}

form .form__field {
  grid-template-columns: 140px auto;
  gap: 8px;
}

.recipe-item {
  grid-template-columns: 2fr 5fr max-content;
}

::placeholder {
  font-style: italic;
}

header a.active {
  font-weight: bold;
  color: rgb(37, 99, 235);
}

input[type="search"]::-webkit-search-cancel-button {
  /* Hide the default appearance */
  -webkit-appearance: none;
}

@media (max-width: 767px) {
  .recipe-item {
    grid-template-columns: initial;
  }
}
