* {
  font-family: "Inter", sans-serif;
}

form {
  max-width: 400px;
}

form .form__field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.recipe-item {
  grid-template-columns: 140px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
  border-color: rgb(206 206 205);
  background-color: transparent;
}

.recipe-item:hover {
  background-color: #f8f6f2;
}

::placeholder {
  font-style: italic;
}

header a.active {
  font-weight: bold;
  color: rgb(37, 99, 235);
}

input[type="search"]::-webkit-search-cancel-button {
  /* Hide the default appearance */
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f8f8f7 inset !important;
}

@media (max-width: 767px) {
  .recipe-item {
    grid-template-columns: initial;
  }
}
